In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('../data/train_data_wo_outliers.csv')
df

       weight    quality color clarity  table_percent  price  depth_percent
0        0.30    Premium     D     SI2           0.58  6.353          0.624
1        1.01      Ideal     E    VVS2           0.56  9.183          0.627
2        0.72      Ideal     F     VS2           0.59  7.983          0.618
3        1.08  Very Good     G     SI2           0.57  8.371          0.632
4        0.36    Premium     G     VS1           0.59  6.588          0.623
...       ...        ...   ...     ...            ...    ...            ...
28937    1.52    Premium     D     SI2           0.60  9.093          0.602
28938    0.37    Premium     F     VS2           0.59  6.545          0.605
28939    1.01    Premium     F     VS1           0.58  8.854          0.613
28940    0.80       Good     G     SI2           0.58  7.768          0.628
28941    1.30    Premium     I     VS2           0.58  8.771          0.601

[28942 rows x 7 columns]

In [6]:
#encoding categorical variables
mapping = {'quality':['Fair', 'Good', 'Very Good', 'Premium', 'Ideal'], 
            'color':['J', 'I', 'H', 'G', 'F', 'E', 'D'],
            'clarity':['I1', 'SI2', 'SI1', 'VS2', 'VS1', 'VVS2', 'VVS1', 'IF']}
for k,v in mapping.items():
    for i in v:
        df[k] = df[k].replace(i, v.index(i))
df

       weight  quality  color  clarity  table_percent  price  depth_percent
0        0.30        3      6        1           0.58  6.353          0.624
1        1.01        4      5        5           0.56  9.183          0.627
2        0.72        4      4        3           0.59  7.983          0.618
3        1.08        2      3        1           0.57  8.371          0.632
4        0.36        3      3        4           0.59  6.588          0.623
...       ...      ...    ...      ...            ...    ...            ...
28937    1.52        3      6        1           0.60  9.093          0.602
28938    0.37        3      4        3           0.59  6.545          0.605
28939    1.01        3      4        4           0.58  8.854          0.613
28940    0.80        1      3        1           0.58  7.768          0.628
28941    1.30        3      1        3           0.58  8.771          0.601

[28942 rows x 7 columns]

In [7]:
df.to_csv('../data/train_data_encoded.csv', index=False)