In [4]:
import pandas as pd

In [5]:
df1 = pd.read_csv('../output/submission_1.csv').drop(['id'], axis=1).rename(columns={'price': 'submission_1'})
df2 = pd.read_csv('../output/submission_2.csv').drop(['id'], axis=1).rename(columns={'price': 'submission_2'})
df3 = pd.read_csv('../output/submission_3.csv').drop(['id'], axis=1).rename(columns={'price': 'submission_3'})
df4 = pd.read_csv('../output/submission_4.csv').drop(['id'], axis=1).rename(columns={'price': 'submission_4'})

submission_5 = pd.concat([df1, df2, df3, df4], axis=1)
submission_5['price'] = submission_5.mean(axis=1)
submission_5.drop(['submission_1', 'submission_2', 'submission_3', 'submission_4'], axis=1, inplace=True)
submission_5.reset_index(drop=False, inplace=True)
submission_5.rename(columns={'index': 'id'}, inplace=True)

In [6]:
submission_5

          id     price
0          0  6.104621
1          1  8.545158
2          2  9.452714
3          3  7.841465
4          4  9.023493
...      ...       ...
13480  13480  8.506444
13481  13481  8.287863
13482  13482  6.294854
13483  13483  8.640436
13484  13484  7.952077

[13485 rows x 2 columns]

In [7]:
submission_5.to_csv('../output/submission_5_avg.csv', index=False)