In [23]:
import pandas as pd

In [24]:
df1 = pd.read_csv('../output/submission_1_fs.csv').drop(['id'], axis=1).rename(columns={'price': 'submission_1'})
df2 = pd.read_csv('../output/submission_2_fs.csv').drop(['id'], axis=1).rename(columns={'price': 'submission_2'})
df3 = pd.read_csv('../output/submission_3_fs.csv').drop(['id'], axis=1).rename(columns={'price': 'submission_3'})

submission_5 = pd.concat([df1, df2, df3], axis=1)
submission_5['price'] = submission_5.mean(axis=1)
submission_5.drop(['submission_1', 'submission_2', 'submission_3'], axis=1, inplace=True)
submission_5.reset_index(drop=False, inplace=True)
submission_5.rename(columns={'index': 'id'}, inplace=True)

In [25]:
submission_5

          id     price
0          0  6.119182
1          1  8.604378
2          2  9.490604
3          3  7.873596
4          4  9.020219
...      ...       ...
13480  13480  8.550324
13481  13481  8.387075
13482  13482  6.468348
13483  13483  8.678126
13484  13484  8.008261

[13485 rows x 2 columns]

In [26]:
submission_5.to_csv('../output/submission_5_fs.csv', index=False)