In [6]:
import pandas as pd

In [7]:
df2 = pd.read_csv('../output/submission_2_fs.csv').drop(['id'], axis=1).rename(columns={'price': 'submission_2'})
df3 = pd.read_csv('../output/submission_3_fs.csv').drop(['id'], axis=1).rename(columns={'price': 'submission_3'})

submission_6 = pd.concat([df2, df3], axis=1)
submission_6['price'] = submission_6.mean(axis=1)
submission_6.drop(['submission_2', 'submission_3'], axis=1, inplace=True)
submission_6.reset_index(drop=False, inplace=True)
submission_6.rename(columns={'index': 'id'}, inplace=True)

In [8]:
submission_6

          id     price
0          0  6.113270
1          1  8.605305
2          2  9.502615
3          3  7.873977
4          4  8.996663
...      ...       ...
13480  13480  8.545829
13481  13481  8.390510
13482  13482  6.454339
13483  13483  8.690534
13484  13484  8.007654

[13485 rows x 2 columns]

In [9]:
submission_6.to_csv('../output/submission_6_fs.csv', index=False)